<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="app.android.bustime"
	android:versionCode="3"
	android:versionName="0.6.0"
	android:installLocation="auto">

	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="14" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

	<application
		android:name="BusTimeApplication"
		android:icon="@drawable/ic_launcher_bustime"
		android:logo="@color/background_action_bar"
		android:label="@string/application_name"
		android:theme="@style/Theme.BusTime">

		<uses-library android:name="com.google.android.maps" />

		<activity
			android:name=".ui.HomeActivity"
			android:theme="@style/Theme.BusTime.Home">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".ui.RoutesActivity"
			android:label="@string/title_routes">
		</activity>

		<activity
			android:name=".ui.StationsActivity"
			android:label="@string/title_stations">
		</activity>

		<activity
			android:name=".ui.StationsMapActivity"
			android:label="@string/title_stations">
		</activity>

		<activity
			android:name=".ui.TimetableActivity"
			android:label="@string/title_timetable">
		</activity>
	</application>

</manifest>
