<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ru.ming13.bustime"
	android:versionCode="9"
	android:versionName="0.6.9.3"
	android:installLocation="auto">

	<uses-sdk
		android:minSdkVersion="7"
		android:targetSdkVersion="16" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

	<uses-feature
		android:name="android.hardware.location"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.location.gps"
		android:required="false" />

	<application
		android:name="BusTimeApplication"
		android:icon="@drawable/ic_launcher_bustime"
		android:logo="@color/background_action_bar"
		android:label="@string/application_name"
		android:theme="@style/Theme.BusTime">

		<uses-library android:name="com.google.android.maps" />

		<activity
			android:name=".ui.activity.HomeActivity"
			android:theme="@style/Theme.BusTime.Home">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<meta-data
				android:name="android.app.default_searchable"
				android:value=".ui.activity.StationsSearchActivity" />
		</activity>

		<activity
			android:name=".ui.activity.RoutesActivity"
			android:label="@string/title_routes">
		</activity>

		<activity
			android:name=".ui.activity.StationsActivity"
			android:label="@string/title_stations">
		</activity>

		<activity
			android:name=".ui.activity.StationsMapActivity"
			android:label="@string/title_stations">
		</activity>

		<activity
			android:name=".ui.activity.StationsSearchActivity"
			android:label="@string/title_stations">

			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>

			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/search" />
		</activity>

		<activity
			android:name=".ui.activity.TimetableActivity"
			android:label="@string/title_timetable_full_week">
		</activity>

		<activity
			android:name=".ui.activity.AboutActivity"
			android:label="@string/title_about">
		</activity>
	</application>

</manifest>
