<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ru.ming13.bustime.test"
	android:versionCode="14"
	android:versionName="0.7.1" >

	<uses-sdk android:minSdkVersion="10" />

	<instrumentation
		android:name="android.test.InstrumentationTestRunner"
		android:targetPackage="ru.ming13.bustime" />

	<application
		android:label="@string/application_name" >
		<uses-library android:name="android.test.runner" />
	</application>

</manifest>
