<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ru.ming13.bustime"
	android:versionCode="14"
	android:versionName="0.7.1"
	android:installLocation="auto">

	<uses-permission
		android:name="android.permission.INTERNET" />

	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="18" />

	<application
		android:name="BusTimeApplication"
		android:icon="@drawable/ic_launcher"
		android:logo="@color/background_action_bar"
		android:label="@string/application_name"
		android:theme="@style/Theme.BusTime">

		<activity
			android:name=".ui.activity.HomeActivity"
			android:theme="@style/Theme.BusTime.Home">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<meta-data
				android:name="android.app.default_searchable"
				android:value=".ui.activity.StationsSearchActivity" />
		</activity>

		<activity
			android:name=".ui.activity.RoutesActivity"
			android:label="@string/title_routes">
		</activity>

		<activity
			android:name=".ui.activity.StationsActivity"
			android:label="@string/title_stations">
		</activity>

		<activity
			android:name=".ui.activity.StationsSearchActivity"
			android:label="@string/title_stations">

			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>

			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/search" />
		</activity>

		<activity
			android:name=".ui.activity.TimetableActivity"
			android:label="@string/title_timetable">
		</activity>

		<provider
			android:name=".ui.provider.StationsSearchProvider"
			android:authorities="ru.ming13.bustime.ui.provider.StationsSearchProvider">
		</provider>
	</application>

</manifest>
